<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= internship.student.enrollmentNumber %> Details</title>
    <link rel="icon" href="/images/favicon.jpg" type="image/png" />
    <link rel="stylesheet" type="text/css" href="/css/style3.css" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div class="navbarr">
      <img class="charusat-logo" src="/images/image-2.png" />
      <div class="Home-nav">
        <a href="/auth/admin-dashboard">
          <img src="/images/home.png" alt="Home" />
        </a>
      </div>
    </div>

    <div class="container">
      <h2>Student Details</h2>

      <!-- Use a form for approval and rejection -->
      <form action="/update-status" method="post">
        <div class="form-group">
          <label for="StudentID">Student ID:</label>
          <input
            type="text"
            id="StudentID"
            name="StudentID"
            value="<%= internship.student.enrollmentNumber %>"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="StudentName">Student Name:</label>
          <input
            type="text"
            id="StudentName"
            name="StudentName"
            value="<%= internship.student.fullName %>"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="Semester">Semester:</label>
          <input
            type="text"
            id="Semester"
            name="Semester"
            value="<%= internship.student.semester %>"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="CompanyName">Name of Company:</label>
          <input
            type="text"
            id="CompanyName"
            name="CompanyName"
            value="<%= internship.company.name %>"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="CompanyAddress">Address of Company:</label>
          <input
            type="text"
            id="CompanyAddress"
            name="CompanyAddress"
            value="<%= internship.company.address.street1 %>"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="Counsellor_InternalGuide">HR Details:</label>
          <input
            type="text"
            id="Counsellor_InternalGuide"
            name="Counsellor_InternalGuide"
            value="<%= internship.company.guidePerson.name %>"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="HRphonenumber">HR Contact Number:</label>
          <input
            type="text"
            id="HRphonenumber"
            name="HRphonenumber"
            value="<%= internship.company.humanResource.name %>"
            readonly
          />
        </div>

        <div class="form-group-duration">
          <label for="Duration">Duration :</label>
          <input
            type="text"
            id="Duration"
            name="Duration"
            value="<%= internship.endDate - internship.startDate %>"
            readonly
          />
          <label for="StartDate">Start Date:</label>
          <input
            type="text"
            id="StartDate"
            name="StartDate"
            value="<%= internship.StartDate %>"
            readonly
          />
          <label for="EndDate">End Date:</label>
          <input
            type="text"
            id="EndDate"
            name="EndDate"
            value="<%= internship.EndDate %>"
            readonly
          />
        </div>

        <div class="form-group-noc">
          <label for="TypeofInternship">Type of Internship:</label>
          <input
            type="text"
            id="TypeofInternship"
            name="TypeofInternship"
            value="<%= internship.type %>"
            readonly
          />
        </div>
        <br />
        <div class="form-group">
          <label for="ProjectTitle">Project Title:</label>
          <input
            type="text"
            id="ProjectTitle"
            name="ProjectTitle"
            value="<%= internship.project.name %>"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="ToolsandTechnology">Tools and Technology:</label>
          <input
            type="text"
            id="ToolsandTechnology"
            name="ToolsandTechnology"
            value="<%= internship.project.technologies %>"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="status">Status:</label>
          <span id="status"><%= internship.status %></span>
        </div>

        <input type="hidden" id="status" name="status" value="" />

        <button type="button" class="btn1" onclick="updateStatus('Approved');">
          Approve
        </button>

        <button type="button" class="btn2" onclick="updateStatus('Rejected');">
          Reject
        </button>
      </form>
    </div>

    <script>
      function updateStatus(newStatus) {
        const studentID = '<%= internship.student.enrollmentNumber %>'; // Get student ID

        // Send an AJAX request to update the status
        $.ajax({
          type: 'POST',
          url: '/update-status',
          data: {
            studentID: studentID,
            newStatus: newStatus,
          },
          success: function (response) {
            // Update the status in the HTML
            document.getElementById('status').textContent = newStatus;
            console.log('Status updated:', newStatus);
            // Redirect to the "approved.ejs" page after updating
            alert(`Status ${newStatus} successfully !`);
            window.location.href = '/analytics';
          },
          error: function (error) {
            console.error('Error updating status:', error);
          },
        });
      }
    </script>
  </body>
</html>
